@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --color: black;
  --bg: white;
  --border: black;
}

.darkmode {
  --color: white;
  --bg: black;
  --border: white;
}

body {
  font-family: "Silkscreen", sans-serif;
  background-color: var(--bg);
  color: var(--color);
  width: 100vw;
  height: 100vh;
  user-select: none;
  text-align: center;
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

button {
  font-family: inherit;
  background: var(--bg);
  border: none;
  color: inherit;
  transition: transform 0.25s ease;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.gadgets {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button-container {
  font-size: 10px;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 750px;
  height: 500px;
  border: 3px solid var(--border);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.tab-title {
  height: 50px;
  padding: 10px;
  border-bottom: 3px solid var(--border);
  display: flex;
  align-items: center;
}

.main-home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.home-p {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.first-p {
  font-size: 50px;
}

.second-p {
  font-size: 15px;
}

.name {
  color: transparent;
  -webkit-text-stroke: 3px var(--color);
}

.window {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 800px;
  height: 600px;
  background: var(--bg);
  border: 3px solid var(--border);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: opacity 0.1s linear, transform 0.1s linear;
}

.window.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.window.close {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.window-title {
  height: 50px;
  padding: 10px;
  border-bottom: 3px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  font-size: 25px;
}

.hide {
  opacity: 0;
}