@font-face {
    font-family: "dn";
    src: url("Death-Note.ttf");
}

body {
    font-family: "dn";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    color: black;
    font-size: 40px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav ul {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    display: block;
    color: black;
    padding: 10px;
    border-radius: 0 0 0 20%;
    border: 1px solid black;
    transition: all 0.5s ease;
    box-shadow: inset 0 0 0 0 black;
}

nav ul li a:hover {
    color: white;
    box-shadow: inset 0 -75px 0 0 black;
}

.top {
    display: flex;
    height: calc(100vh - 100px);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top h1 {
    font-size: 60px;
}

.top p {
    font-size: 40px;
}

.section-title {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.sk {
    height: 80vh;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk i {
    transition: all 0.5s ease;
}

.sk i:hover {
    transform: scale(110%);
    color: gray;
}