* {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding-top: 100px;
}

input {
    outline: none;
}

textarea {
    resize: none;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: white;
}

.name {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.current {
    text-decoration: underline;
    text-underline-offset: 10px;
}

header nav ul {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 500;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    margin-top: 75px;
    gap: 50px;
    padding: 0 500px;
    line-height: 1.75;
}

.about a {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.about p {
    text-align: justify;
}

.contact-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 75px;
    padding: 0 300px;
    padding-bottom: 50px;
}

.socials {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social p {
    font-size: 32px;
    text-align: center;
}

.social a {
    font-size: 50px;
    margin-top: 10px;
}


.s {
    font-weight: 600;
    text-decoration: underline;
}

.contact form label {
    font-weight: 600;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input::placeholder, textarea::placeholder {
    font-weight: bold;
}

.contact form input {
    border: 1px solid black;
    width: 400px;
    height: 20px;
    padding: 10px;
}

.contact form textarea {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    padding: 10px;
}

.send {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    width: 75px;
}

.send:hover {
    cursor: pointer;
}

.work {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 0 350px;
}

.projects {
    text-align: justify;
}

.project {
    margin-bottom: 50px;
}

.project-title {
    font-size: 35px;
    text-decoration: underline;
}

.desc {
    margin-top: 10px;
    font-size: 20px;
}

.language {
    margin-top: 5px;
    font-size: 25px;
}

.view {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid black;
    padding: 5px;
}

.view:hover {
    cursor: pointer;
}