@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

:root {
  --color: black;
  --bg: white;
  --border: black;
}

body {
  color: var(--color);
  background-color: var(--bg);
  padding: 80px 0;
  animation: loadanim 0.8s ease forwards;
}

button {
  color: inherit;
  background-color: inherit;
  outline: none;
  background-color: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.toggle-darkmode {
  font-size: clamp(20px, 8vw, 25px);
}

.darkmode {
  --color: white;
  --bg: black;
  --border: white;
}

@keyframes loadanim {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  60% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 24px;
}

.name {
  text-align: center;
  font-size: clamp(48px, 6vw, 75px);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.current {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.text-block {
  border: 1px solid var(--border);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
  font-size: 24px;
  line-height: 1.75;
}

.text-block a {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 60px;
}

.project h2 {
  font-size: 42px;
  text-decoration: underline;
}

.project p {
  font-size: 28px;
  margin: 10px 0;
}

.project span {
  font-size: 22px;
  display: block;
}

.source {
  margin-top: 10px;
  display: inline-block;
  color: var(--color);
  border: 1px solid var(--border);
  padding: 6px 10px;
  font-size: 20px;
  box-shadow: 0 0 0 var(--bg) inset;
  transition: all 0.25s ease;
}

.source:hover {
    color: var(--bg);
    box-shadow: 0 -50px 0 var(--color) inset;
}

.socials {
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 125px 75px;
  justify-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social i {
  font-size: 60px;
}

.social span {
    font-size: clamp(15px, 6.25vw, 50px);
    margin-top: 6px;
    transform: translateY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social:hover span {
  transform: translateY(12px);
  opacity: 1;
}
